src/main/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xsi:schemaLocation="
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
       http://www.springframework.org/schema/beans classpath:org/springframework/beans/factory/xml/spring-beans-4.1.xsd
	http://www.mulesoft.org/schema/mule/amqp classpath:packaged/xsd/mule-amqp.xsd">


	<file:endpoint name="inputFile" path="src/maim/resources/MuleInputFiles">
		<!-- Add any filters (e.g. regex) here -->
	</file:endpoint>

	<custom-transformer name="TransfromInputOutput"
		class="com.maven.mule.TransfromInputOutput" />

	<file:connector name="File" streaming="true"
		validateConnections="true" doc:name="File" />

	<flow name="mulefileconnectorexampleFlow" doc:name="mulefileconnectorexampleFlow">
		<file:inbound-endpoint path="E:\mulefiles"
			moveToDirectory="E:\mulefiles\output" responseTimeout="10000"
			doc:name="File Input" />
		<logger
			message="Transferring file : #[message.inboundProperties['originalFilename']]"
			level="INFO" doc:name="Logger" />
		<file:outbound-endpoint path="E:\mulefiles\output"
			responseTimeout="10000" doc:name="File Output" />
	</flow>

</mule>
